<!DOCTYPE html>
<html>
<head>
	<title>Petrol Allowance</title>
</head>
<body>

<!-- <form name = "Colleges" method ="post" action = "/temp">
	<label>College Name:</label>
	<select name = "Colleges"> 
	{% for x in mylist %}
	<option value = "{{ x }}"{% if loop.first %} selected {% endif %}>{{ x }}</option>
	{% endfor %}
	</select>
	
	<input type="submit" value = "submit" />	
</form> -->
<form method ="post" action = "/group">
	<label>Student1:</label>
	<input type="text" name="student1">
	<label>Student2:</label>
	<input type="text" name="student2">
	<label>Student3:</label>
	<input type="text" name="student3">
	<label>Student4:</label>
	<input type="text" name="student4">
	<input type="submit" value ="submit">
</form>


</body>
</html>
