<!DOCTYPE html>
<html>
<head>
	<title>balle balle</title>
</head>
<body>

<form method ="post" action = "/post_college">
	<label>CollegeID:</label>
	<input type="text" name="college_id" >
	<label>College Name:</label>
	<input type="text" name="college_name">
	<input type="submit"  value = "submit" />	
</form>
<br><br>
<form method ="post" action = "/post_student">
	<label>StudentID:</label>
	<input type="text" name="student_id">
	<label>Student Name:</label>
	<input type="text" name="student_name">
	<input type="submit" name="submit">
</form>
